:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html {
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    background-color: var(--light-gray);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1,
p {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    color: var(--grayish-blue);
}

div {
    border-radius: 1rem;
    border: none;
}

img {
    width: 100%;
    margin: auto;
}

.outer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20rem;
    min-width: 20rem;

    background-color: var(--white);
}

.image-container {
    margin-top: 1rem;
    overflow: hidden;
    width: 90%;
    aspect-ratio: 1;
}